@font-face {
    font-family: 'KCC-Sonkeechung';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KCC-Sonkeechung.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'KCC-Sonkeechung';
    text-align: center;
    
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

.hero {
    padding: 50px;
    background-color: #f4f4f4;
}

.mailbox-img {
    width: 100%; /* 반응형 크기 조정 */
    height: auto;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
/* 편지 리스트가 많아질 경우 스크롤 가능하도록 설정 */
.letter-list {
    max-height: 200px; /* 최대 높이 제한 */
    overflow-y: auto; /* 리스트가 넘칠 경우 스크롤 */
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}


/* .section {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* 제목을 고정하여 스크롤되지 않도록 설정 */
.section h2 {
    position: sticky;
    top: 0;
    background: white;
    padding: 10px;
    z-index: 1000;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #ddd;
}

h2 {
    margin-bottom: 10px;
}

/* .container .past{
    background-color: #f4f4f4;
    color: gray;
}
.container .section .today{
    background-color: #ffeb99;
    font-weight: bold;
}
.container .section .future{
    background-color: #cce5ff;
    opacity: 0.7;
} */
#letterModal{
    position: fixed; /* 화면에 고정 */
    z-index: 1; /* 상위에 위치 */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); /* 반투명한 배경색 */
   
}

#letterModal #popup {
    /*팝업*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
    display: block;
}

/* 카테고리 선택 버튼 스타일 */
.category-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.category-buttons button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #ddd;
    transition: background 0.3s ease;
}

.category-buttons button:hover {
    background-color: #bbb;
}

/* 기본적으로 모든 카테고리 숨김 */
.category-section {
    display: none;
}

