<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Letter To Myself</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>To. </h1>
    </header>

    <form method="POST", enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Django 폼 자동 렌더링 -->
        <button type="submit">작성 완료</button>
    </form>

    <footer>
        <p>&copy; 2024 A Letter To Myself</p>
    </footer>
</body>
</html>
